* {
  box-sizing: border-box;
  margin: 0 auto;
}



/*Utility class */
.justify-content {
  justify-content: space-between;
}

.bg-orange {
  background-color: #FF6900;
}

.lista.white {
  color: white;
}

.lista {
  list-style: none;
  display: flex;
}

/*layout class */
body {
  max-width: 1200px;
  height: 1200px;
}


header.bg-orange ul {
  width: 200px;
}



header {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 1;
  padding: 10px;
  align-items: center;
}

img.logo {
  width: fit-content;
  height: 50px;


}












/*content class */