* {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}



/*Utility class */

.bg-orange {
  background-color: #FF6900;
}

.bg-white {
  background-color: white;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;

}

.red {
  color: red;
}

.bianco {
  color: white;
}

.lista.white {
  color: white;
}

.lista {
  list-style: none;
  display: flex;
}

.bold {
  font-weight: bold;
}

.px-5 {
  padding: 0 5px;
}

.line {
  text-decoration: line-through;
}

/*layout class */
body {
  max-width: 1200px;
  height: 1200px;
  border: 1px solid black;
}

header {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 1;
  padding: 20px 0;
  align-items: center;
}

.card {
  margin: 0;
  width: 350px;
}

.position {
  width: 350px;

}

.picture {
  position: relative;
}


.pos1 {
  position: absolute;
  top: 80%;
  width: 50px;
  padding: 5px 5px;
  font-weight: bold;
  text-align: center;

}

.pos2 {
  position: absolute;
  top: 80%;
  left: 16%;
  width: 130px;
  padding: 5px 5px;
  font-weight: bold;
  text-align: center;
}

.pos3 {
  position: absolute;
  top: 10%;
  right: 0%;
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 17px;
}

/*content class */


img.logo {
  width: max-content;
  height: 50px;

}

.bottom ul {
  padding: 0;
  list-style: none;
}

.front-image {
  display: block;
}

.back-image {
  display: none;
}

.card:hover .front-image {
  display: none;
}

.card:hover .back-image {
  display: block;
}

.cuore {
  display: block;
}

.cuore-rosso {
  display: none;
  color: red;
}

.card:hover .cuore {
  display: none;
}

.card:hover .cuore-rosso {
  display: block;
}