* {
  box-sizing: border-box;
  margin: 0 auto;
}



/*Utility class */

.bg-orange {
  background-color: #FF6900;
}

.bg-white {
  background-color: white;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;

}

.bg-black {
  background-color: black;
}

.red {
  color: red;
}

.bianco {
  color: white;
}

.lista.white {
  color: white;
}

.lista {
  list-style: none;
  display: flex;
}

.bold {
  font-weight: bold;
}

.px-5 {
  padding: 0 5px;
}

.py-5 {
  padding-bottom: 5px;
}

.py-10 {
  padding-bottom: 10px;
}

.line {
  text-decoration: line-through;
}

.my-20 {
  margin-top: 30px;
}

/*layout class */
body {
  max-width: 1200px;
  height: auto;
  border: 1px solid black;
}

header,
footer {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 1;
  padding: 25px 0;
  align-items: center;

}


main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

p {
  font-size: 11.5px;
}

.position {
  width: 330px;

}

.picture {
  position: relative;
}


.pos1 {
  position: absolute;
  top: 80%;
  width: 50px;
  padding: 5px 5px;
  font-weight: bold;
  text-align: center;

}

.pos2 {
  position: absolute;
  top: 80%;
  left: 16%;
  width: 130px;
  padding: 5px 5px;
  font-weight: bold;
  text-align: center;
}

.pos3 {
  position: absolute;
  top: 10%;
  right: 0%;
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 17px;
}

.card {
  width: calc(100% / 3 -20px);
}

/*content class */


img.logo {
  width: max-content;
  height: 50px;

}

.bottom ul {
  padding: 0;
  list-style: none;
}

.front-image {
  display: block;
}

.back-image {
  display: none;
}

.card:hover .front-image {
  display: none;
}

.card:hover .back-image {
  display: block;
}

.cuore {
  display: block;
}

.cuore-rosso {
  display: none;
  color: red;
}

.card:hover .cuore {
  display: none;
}

.card:hover .cuore-rosso {
  display: block;
}